@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@-webkit-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@-ms-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@-o-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-ms-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
}

@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}

@-ms-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-ms-transform: translateY(0);}
	40% {-ms-transform: translateY(-30px);}
	60% {-ms-transform: translateY(-15px);}
}

@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

.bounce {
	-webkit-animation-name: bounce;
	-moz-animation-name: bounce;
	-ms-animation-name: bounce;
	-o-animation-name: bounce;
	animation-name: bounce;
}

body{
    width:100%;
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    animation: normal;
    -webkit-animation:fadeIn 2s;
    -moz-animation:fadeIn 2s;
    -ms-animation:fadeIn 2s;
    background-repeat: repeat;
}

hr {
    background-color: black;
  }

a{
    color:#000;
    text-decoration: none;
    transition: ease-in-out 1s;
}

a:hover {
    color: #fff;
    transition: ease-in-out 2s;
}

button {
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
    padding: 25px;
    font-size: 15px;
    width: fit-content;
    display: inline;
    margin: 20px auto;
    text-transform: uppercase;
    font-style: italic;
}

button:hover{
    box-shadow: 1px 2px 1px #000;
    transition: ease-in-out 2s;
}

button a{
    color: #000;
}


/* Sylvia Boamah */
h3{
text-align: left;
display: inline;
font-weight: 400;
padding:10px;
font-size: 30px;
line-height: 30px;
/* identical to box height, or 400% */
color: #000;
}

#work{
    width: 100%;
    margin: 0 auto;
    vertical-align: middle;
    align-items:flex-start;
    align-content: flex-start;
    justify-content: center;
}

.workbox{
    width: 280px;
    height:300px;
    display: inline-block;
    text-align: center;
    padding:25px;
    line-height: 28px;
}

.workbox img{
    opacity: 0.8;
}

.workbox img:hover{
    opacity: 1;
    transition: ease-in-out 1s;
}

#showcontainer{
  top: 60px;
  position: relative;
  width: 1020px;
  height: fit-content;
  margin: 0 auto;
  text-align: left;
}



/* Intro */
#container1{
position: relative;
width: 70%;
height: 600px;
margin: 0 auto;
display: block;
top: 150px;

}

#container1 img{
    width: 10%; 
    padding:10px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}


#container2{
    position: relative;
    margin: 0 auto;
    width: 70%;
    padding: 0 5%;
    height: 600px;
    justify-content: center;
    align-items: center;
    display: block;
}

#container2 img{
    width: 33%; 
    float: left;
    padding:10px;
    margin-right: 30px;
    border: 1px solid #8f8672;
}

#container2 h1{
 margin-top: 40px;
 
}

#container2 p{
    width: 50%; 
    padding-left: 0px;
}

#container3{
    position: relative;
    width: 70%;
    margin: 0 auto;
    display: block;
    justify-content: center;
    align-items: center;
    height: 550px;
}

#container4{
    position: relative;
    margin: 0 auto;
    width: 70%;
    height: auto;
    display: block;
    padding-bottom: 100px;
}

/* designer, developer, & creative. */
#title{
font-weight: bolder;
font-size: 84px;
/* or 94% */
display: block;
color: #000;
text-transform: lowercase;

}


#title:hover {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;  
    animation: normal;
    -webkit-text-fill-color: #fff;
    transition: ease-in-out 1s;
    -webkit-animation:bounce 2s;
}

/* Hi I’m Sylvia Boamah, an aspiring front-end developer, UI/UX designer, and content creator based in New Jersey. */
h4{
font-weight: 600;
font-size: 22px;
color: #000000;
}

/* skills */
h1{
position: relative;
font-style: normal;
display: block;
font-weight: bold;
font-size: 70px;
line-height: 60px;
text-transform: lowercase;
color: #000000;
}


/* skills */
p{
position: relative;
font-style: normal;
font-weight: 500;
font-size: 18px;
color: #000000;
display: inline;
}

p::first-letter {
    font-size: 200%;
    color: #8f8672;
}

h1::first-letter {
    color: #8f8672;
}

/* skill category */
h2{
position: relative;
font-style: normal;
font-weight: 200;
font-size: 30px;
text-transform: uppercase;
color: #FF0000;
display: inline-block;
}

h2 a{
color: #FF0000;
text-decoration: none;
}


@media (max-width:800px){
    #title{
        font-size: 40px;
    }

    #showcontainer{
      width: 720px;
      height: auto;
      margin: 0 auto;
    }
  
    #container1{
    top: 50px;
    width: 80%;
      height: auto;
      }

      #container1 img{
        width: 20%; 
      }
      
      #container2{
        width: 80%;
          height: auto;
      }

      #container2 p{
        width: 80%;
          height: auto;
      }

      #container3{
        width: 80%;
          height: auto;
      }

      #container4{
        width: 80%;
          height: auto;
      }

      #container2 img{
        width: 50%;
      }

    

      h4{
          font-size: 18px;
          }
          
          /* skills */
          h1{
          font-size: 50px;
          }
          
          
          /* skills */
          p{
          font-size: 15px;
          }
          
          
          /* skill category */
          h2{
          font-size: 24px;
          }
  
          h3{
              font-size: 24px;
              }
          
  }


@media (max-width:480px){
    #title{
        font-size: 36px;
    }
    
    #showcontainer{
      width: 300px;
      height: auto;
      margin: 0 auto;
    }

    #showcontainer img{
        width: 100%;
      }


    #container1{
      top: 50px;
      height: auto;
      }
      #container1 img{
        width: 40%; 
      }

      #container2{
      height: auto;
      }
      #container2 img{
        width: 100%;
      }
      #container2 p{
        width: 100%; 
        padding-left: 5px;
    }

      #work{
        margin: 0 auto;  
      }

      .workbox{
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 20px;
        padding-bottom:20px;
      }
    
      h4{
          font-size: 15px;
          }
          
          /* skills */
          h1{
          font-size: 45px;
          }
          
          
          /* skills */
          p{
          font-size: 12px;
          }
          
          
          /* skill category */
          h2{
          font-size: 21px;
          }
  
          h3{
              font-size: 21px;
              }
          
  }