@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body{
    width:100%;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    animation: normal;
    -webkit-animation:fadeIn 2s;
    background-repeat: repeat;
}

  

a{
    color:#000;
    text-decoration: none;
    transition: ease-in-out 1s;
}

a:hover {
    color: #D85858;
    transition: ease-in-out 1s;
}


img{
    position: relative;
    transition: ease-in-out 1s;
}


/* Linkbar */

#linkbar{
position: fixed;
width: 100px;
height: auto;
display: inline-block;
padding: 10px;
left: 0px;
top: 0px;
z-index: 1;
}

.links a{
    color: #000;
    padding-right: 10px;
    text-decoration: none;
    transition: ease-in-out 1s;
}

.links a:hover{
    text-decoration: none;
    border-right: 10px solid #D85858;
    transition: ease-in-out 1s;
}

/* home about resume contact */
.links{
width: 100px;
text-align: left;
padding:10px;
font-weight: 600;
font-size: 13px;
text-transform: uppercase;
animation: normal;
/* identical to box height, or 117% */
color: #000;
}


/* Sylvia Boamah */
h3{
text-align: left;
display: inline;
font-weight: 400;
padding:10px;
font-size: 30px;
line-height: 30px;
/* identical to box height, or 400% */
color: #000;
}

#work{
    width: 100%;
    margin: 0 auto;
    vertical-align: middle;
    align-items:flex-start;
    align-content: flex-start;
    justify-content: center;
}

.workbox{
    width: 280px;
    height:300px;
    display: inline-block;
    text-align: center;
    padding:20px;
    line-height: 20px;
}

#showcontainer{
  top: 100px;
  position: relative;
  width: 960px;
  height: auto;
  margin: 0 auto;
}

/* Intro */
#container1{
position: relative;
width: 70%;
height: 600px;
margin: 0 auto;
top: 150px;
}

#container2{
    position: relative;
    margin: 0 auto;
    width: 70%;
    height: 600px;
}

#container2 img{
    float: left;
    width: 33%; 
    padding-right: 30px;
}

#container3{
    position: relative;
    width: 70%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    height: 600px;
}

#container4{
    position: relative;
    margin: 0 auto;
    width: 70%;
    height: 600px;
}

/* designer, developer, & creative. */
#title{
font-weight: bolder;
font-size: 84px;
/* or 94% */
text-transform: lowercase;
text-shadow: -2px -2px 0 #D85858, 1px -1px 0 #D85858, -1px 1px 0 #D85858, 1px 1px 0 #D85858;
-webkit-text-fill-color: #fff;
transition: ease-in-out 1s;
}

#title:hover {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;  
    transition: ease-in-out 2s;
    animation: normal;
    -webkit-animation:bounce 2s;
    transition-delay: 1s;
}

/* Hi I’m Sylvia Boamah, an aspiring front-end developer, UI/UX designer, and content creator based in New Jersey. */
h4{
font-style: normal;
font-weight: 200;
font-size: 22px;
color: #000000;
}

/* skills */
h1{
position: relative;
font-style: normal;
font-weight: bold;
font-size: 70px;
text-transform: lowercase;
color: #000000;
}


/* skills */
p{
position: relative;
font-style: normal;
font-weight: 500;
font-size: 18px;
color: #000000;
display: inline;
}


/* skill category */
h2{
position: relative;
font-style: normal;
font-weight: 200;
font-size: 30px;
text-transform: uppercase;
color: #FF0000;
display: inline-block;
}

h2 a{
color: #FF0000;
text-decoration: none;
}


@media (max-width:800px){
    #title{
        font-size: 40px;
    }

    #showcontainer{
      width: 640px;
      height: auto;
      margin: 0 auto;
    }
  
    #container1{
    top: 50px;
      height: auto;
      }
      
      #container2{
          height: auto;
      }

      #container2 img{
        width: 50%;
      }

      #linkbar{
        position: absolute;
        width: 100%;
        height: auto;
        display: inline;
        text-align: center;
        padding: 10px;
        left: 0px;
        top: 0px;
        z-index: 1;
        background-color: #EBB786;
        }
        
        #linkbar img{
            display: none;
        }

        .links{
            font-size: 10px;
            text-align: center;
            display: inline;
            padding:5px;
            width: auto;
            }

      h4{
          font-size: 18px;
          }
          
          /* skills */
          h1{
          font-size: 40px;
          }
          
          
          /* skills */
          p{
          font-size: 15px;
          }
          
          
          /* skill category */
          h2{
          font-size: 24px;
          }
  
          h3{
              font-size: 24px;
              }
          
  }


@media (max-width:480px){
    #title{
        font-size: 36px;
    }
    
    #showcontainer{
      width: 320px;
      height: auto;
      margin: 0 auto;
    }
  
    .links{
    font-size: 10px;
    width:auto;
    text-align: center;
    padding:5px;
    display: inline;
    }

    #linkbar{
        position: absolute;
        width: 100%;
        height: auto;
        display: inline;
        text-align: center;
        padding: 10px;
        left: 0px;
        top: 0px;
        z-index: 1;
        background-color: #EBB786;
        }
        
        #linkbar img{
            display: none;
        }

    #container1{
      top: 50px;
      height: auto;
      }
      
      #container2{
      height: auto;
      }
      #container2 img{
        width: 100%;
      }

      #work{
        margin: 0 auto;  
      }

      .workbox{
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom:20px;
      }
    
      h4{
          font-size: 15px;
          }
          
          /* skills */
          h1{
          font-size: 36px;
          }
          
          
          /* skills */
          p{
          font-size: 12px;
          }
          
          
          /* skill category */
          h2{
          font-size: 21px;
          }
  
          h3{
              font-size: 21px;
              }
          
  }